body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  font-size: 1.5em;
  width: 80%;
  margin: auto;
}

.messagesContainer {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

input {
  font-family: monospace;
  font-size: 1em;
}

.formContainer {
  display: flex;
  justify-content: space-between;
}

.chatForm {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}
.userForm {
  padding: 10px;
  border-radius: 5px;
}

.contentForm {
  flex: 1 0 auto;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button {
  font-family: inherit;
  font-size: 1em;
  letter-spacing: 3px;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  background: cadetblue;
  border-radius: 5px;
  color: white;
}
